<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.teufel.e4.mail.app.swt"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/net.teufel.e4.mail.app.swt/css/default.css">
         </property>
         <property
               name="appName"
               value="net.teufel.e4.mail.app.swt">
         </property>
         <property
               name="applicationXMI"
               value="net.teufel.e4.mail/Application.e4xmi">
         </property>
      </product>
   </extension>
   
<extension
         id="net.teufel.e4.mail.app.swt.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
