<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.teufel.e4.mail.app.swt"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/net.teufel.e4.mail.app.swt/css/default.css">
         </property>
         <property
               name="appName"
               value="net.teufel.e4.mail.app.swt">
         </property>
      </product>
   </extension>

</plugin>
